In [13]:
#importing libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import KFold,cross_val_score,train_test_split
from sklearn.preprocessing import OrdinalEncoder,MinMaxScaler,PolynomialFeatures
from sklearn.linear_model import LinearRegression,LassoSS
from sklearn.metrics import accuracy_score,mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [4]:
#loading data into pandas dataframe
df=pd.read_csv("ccpp.csv")

In [5]:
#reading the first five row
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [6]:
#reading the last five row
df.tail()

         AT      V       AP     RH      PE
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [28]:
#extracting the label and features column
X=df.iloc[:,0:-1].values
Y=df.iloc[:,-1]

2

In [30]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.8,random_state=0)

In [40]:
#instanciating linear regression model

lr1=LinearRegression()
lr1.fit(X_train,Y_train)
lr1_pred=lr1.predict(X_test)
print(f"lr1 score={lr1.score(X_test,Y_test)}")
print(f"lr1 rmse ={np.sqrt(mean_squared_error(lr1_pred,Y_test))}")

lr1 score=0.9325315554761303
lr1 rmse =4.44226285844249

THIS IS A GREAT SCORE

In [42]:
#feature engineering by adding polynomialfeatures and also scaling to see how linearregression will deviate using pipeline

steps=[("scaler",MinMaxScaler()),
      ("poly", PolynomialFeatures(3)),
      ("model",LinearRegression())]

model1=Pipeline(steps)
model1.fit(X_train,Y_train)
model1_pred=model1.predict(X_test)
print(f"model1 score={model1.score(X_test,Y_test)}")
print(f"model1 rmse ={np.sqrt(mean_squared_error(model1_pred,Y_test))}")

model1 score=0.9443678654045207
model1 rmse =4.033822335230898

THIS IS ALSO A GREAT SCORE

In [44]:
##feature engineering by increasing polynomialfeatures and also scaling to see how linearregression will deviate using pipeline


steps=[("scaler",MinMaxScaler()),
      ("poly", PolynomialFeatures(10)),
      ("model",LinearRegression())]

model2=Pipeline(steps)
model2.fit(X_train,Y_train)
model2_pred=model2.predict(X_test)
print(f"model2 score={model2.score(X_test,Y_test)}")
print(f"model2 rmse ={np.sqrt(mean_squared_error(model2_pred,Y_test))}")

model2 score=0.5683462226200783
model2 rmse =11.236257340959687

AS THE NUMBER OF FEATURES INCREASES , LINEARREGRESSION MODEL FAILS,THIS NEED TO BE REGULARIZES AND IT CAN BE DONE BY LASSO OR RIGDE

In [48]:
#USING LASSO FOR REGULARIZATION

steps=[("scaler",MinMaxScaler()),
      ("poly", PolynomialFeatures(3)),
      ("model",Lasso(alpha=0.01))]

model3=Pipeline(steps)
model3.fit(X_train,Y_train)
model3_pred=model3.predict(X_test)
print(f"model1 score={model3.score(X_test,Y_test)}")
print(f"model1 rmse ={np.sqrt(mean_squared_error(model3_pred,Y_test))}")

model1 score=0.9401974812342576
model1 rmse =4.182285173368884

LASSO HAS BEEN USED TO FIX THE OVERFITTING OF THE MODEL